{
	"multistr": true,
	"esnext": true,
	"globalstrict": true,
	"node": true,
	"globals": {
		"$": true,
		"document": true,
		"window": true,
		"scrollTo": true,
		"dispatchEvent": true,
		"Audio": true,
		"Event": true,
		"CustomEvent": true,
		"addEventListener": true,
		"removeEventListener": true,
		"requestAnimationFrame": true,
		"cancelAnimationFrame": true,
		"location": true,
		"XMLHttpRequest": true,
		"onhashchange": true,
		
		"canvas": true,
		"ctx": true,
		"hero": true,
		"FULLH": true,
		"FULLW": true,
		"HALFH": true,
		"HALFW": true,
		"game": true,
		"utils": true,
		"GameAudio": true,
		"audio": true,
		"level": true,
		"Hud": true,
		"HUD": true,
		"JQObject": true,
		"GameObj": true
	},
	"browser": true,
	"devel": true
}